body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 250px;
  padding: 15px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.detail-card {
  text-align: center;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.detail-card img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.detail-card button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.detail-card button:hover {
  background-color: #0056b3;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333; /* Fondo oscuro */
  color: white; /* Texto blanco */
  text-align: center;
  padding: 10px 0;
  z-index: 1000; /* Asegura que el footer esté encima de otros elementos */
}
